body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333; /* Light grey background for the entire page */
  }
  
  .header {
    background-color: transparent; /* Dark grey header */
    color: #fff; /* White text in header */
    text-align: center;
    padding: 10px 0;
  }
  
  .sidebar {
    color: #fff; /* White text in header */
    float: left; /* Make the sidebar float to the left */
    width: 15%; /* Set a width for the sidebar */
    height: 75vh; /* Full height */
    padding: 20px;
    box-sizing: border-box;
    border-color: #fff;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #242424;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    
  }
  
  .messageArea {
    float: left; /* Float chat area to the left */
    width: 75%; /* Set width for the chat area */
    height: 70vh; /* Full height */
    background-color: transparent; 
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .chatArea{
    
  }
  
  .notification, .message, .warning {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .notification {
    color:cyan;
  }
  
  .message {
    color: #fff;
  }
  
  .warning {
    color: red;
  }
  
  .chatArea textarea {
    float: left; /* Float chat area to the left */
    color: #fff;
    background-color: #333333;
    border-radius: 100px;
    border-color: #fff;
    width: 75%;
    padding: 10px;
  }

  .chatArea button {
    color: #fff;
    background-color: #333333;
    border-radius: 100px;
    border-color: #fff;
    padding: 10px;
    bottom: 0;
  }
  